.container {
  background-color: #161616;
  max-width: 100%;
  min-height: 30vh;
  border-radius: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 100px;
}
.top {
  display: flex;
  justify-content: space-between;
}
.bottom {
  display: flex;
  justify-content: space-between;
}
.linkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
