.container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  a {
    color: rgba(0, 0, 0, 0.932);
  }
}
