@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
  color: transparent;
}
li {
  list-style-type: none;
}
html,
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: #f4f5fa;
}
